<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img width="40" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
    <span>Welcome</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">
    <!-- Highlight Card -->
    <div class="card highlight-card card-small">

        {{ title }} app is running!

    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end w-100">
        <button class="btn btn-danger mb-3 pull-right" (click)="inputCleared()">Очистить</button>
    </div>


    <div class="d-flex flex-column">
        <input class="form-control mb-4" id="formula_input" placeholder="Здесь будет отображаться формула" type="text" [(ngModel)]="value">
        <div class="form-floating">
            <label for="math">
        Математические операторы
      </label>
            <select class="form-control m-2" id="math" placeholder="sad" [(ngModel)]="operator" (click)='selectOperator(operator,operatorsSelectList)' (focusout)=clearCurrentInput(operator)>
        <option [ngValue]="item.operator" *ngFor="let item of operatorsSelectList.valuesArr">{{item.label}}</option>
      </select>
        </div>

        <div class="form-floating">
            <label for="bool">
        Булевы операторы
      </label>
            <select class="form-control m-2" id="bool" [(ngModel)]="boolOperator" (click)='selectOperator(boolOperator,boolOperatorsSelectList)' (focusout)=clearCurrentInput(boolOperator)>
        <option [ngValue]="item.operator" *ngFor="let item of boolOperatorsSelectList.valuesArr">{{item.label}}
        </option>
      </select>
        </div>

        <div class="form-floating">
            <label for="logical">
        Поддерживаемые функции
      </label>
            <select class="form-control m-2" id="logical" [(ngModel)]="logicalOperator" (click)='selectOperator(logicalOperator,logicalOperatorsSelectList)' (focusout)=clearCurrentInput(logicalOperator)>
        <option [ngValue]="item.operator" *ngFor="let item of logicalOperatorsSelectList.valuesArr">{{item.label}}
        </option>
      </select>
        </div>

        <div class="form-floating">
            <label for="const">
        Константы
      </label>
            <select class="form-control m-2" id="const" [(ngModel)]="constOperator" (click)='selectOperator(constOperator,constOperatorsSelectList)' (focusout)=clearCurrentInput(constOperator)>
        <option [ngValue]="item.operator" *ngFor="let item of constOperatorsSelectList.valuesArr">{{item.label}}
        </option>
      </select>

        </div>
    </div>



</div>

<router-outlet></router-outlet>